- var ABOUT_PROD = LANG.products.about;

section.about
	.container
		.about__top
			h2.about__title.title.title--med!= ABOUT_PROD.title
			.about__right
				span.about__text.text--med!= ABOUT_PROD.text
				a.about__link(href="#")
					img(src="img/svg/insta.svg", alt="insta")
		.about__slider.slider-about.js-about-slider
			.slider-about__wrap
				picture
					source(srcset="img/about_slider_immunal_1.webp", type="image/webp")
					img.slider-about__photo(src="img/about_slider_immunal_1.jpg" alt="")
			.slider-about__wrap
				picture
					source(srcset="img/about_slider_immunal_2.webp", type="image/webp")
					img.slider-about__photo(src="img/about_slider_immunal_2.jpg" alt="")
			.slider-about__wrap
				picture
					source(srcset="img/about_slider_immunal_3.webp", type="image/webp")
					img.slider-about__photo(src="img/about_slider_immunal_3.jpg" alt="")
			.slider-about__wrap
				picture
					source(srcset="img/about_slider_immunal_4.webp", type="image/webp")
					img.slider-about__photo(src="img/about_slider_immunal_4.jpg" alt="")
			.slider-about__wrap
				picture
					source(srcset="img/about_slider_immunal_5.webp", type="image/webp")
					img.slider-about__photo(src="img/about_slider_immunal_5.jpg" alt="")
			.slider-about__wrap
				picture
					source(srcset="img/about_slider_immunal_6.webp", type="image/webp")
					img.slider-about__photo(src="img/about_slider_immunal_6.jpg" alt="")
			.slider-about__wrap
				picture
					source(srcset="img/about_slider_immunal_7.webp", type="image/webp")
					img.slider-about__photo(src="img/about_slider_immunal_7.jpg" alt="")
			.slider-about__wrap
				picture
					source(srcset="img/about_slider_immunal_8.webp", type="image/webp")
					img.slider-about__photo(src="img/about_slider_immunal_8.jpg" alt="")