section.advantages
	.container
		.advantages__top
			h2.advantages__title.title.title--med GoodLabs Immunal is a proven support for&nbsp;your immunity
			.advantages__photo.advantages__photo--1.advantages__photo--mob
				img.advantages__img(src="img/advantages_immunal_1.jpg", alt="photo")
			p.advantages__desc.text--med In the modern world, it is very difficult for a person to monitor nutrition and lead a healthy lifestyle in order to maintain strong immunity. But there is a solution. GoodLabs Immunal with beta-glucan is a vitamin and mineral complex with scientifically proven action of components to maintain the strength of the immunity.
		.advantages__photos
			.advantages__photo.advantages__photo--1.advantages__photo--desc
				img.advantages__img(src="img/advantages_immunal_1.jpg", alt="photo")
			.advantages__photo.advantages__photo--2
				img.advantages__img(src="img/advantages_immunal_2.jpg", alt="photo")
			.advantages__photo.advantages__photo--3
				img.advantages__img(src="img/advantages_immunal_3.jpg", alt="photo")
		.advantages__bottom
			.advantages__left
				h2.advantages__ttl.title.title--med Beta-glucan is an effective immunomodulator
				img.advantages__chart.advantages__chart--mob(src="img/chart_immunal.svg", alt="chart")
				p.advantages__text.text--med β-glucan is a potent inducer of epigenetic and functional reprogramming of cells of innate immunity, a process called "trained immunity", which leads to an increased response to secondary infections.
				a.advantages__link.text--med(href="#")
					span Learn more about
					img(src="img/svg/arrow.svg", alt="arrow")
			img.advantages__chart.advantages__chart--desc(src="img/svg/chart_immunal.svg", alt="chart")