section.solutions
	.container.solutions__container
		.solutions__image-wrap
			img.solutions__image(src="img/solutions-image.jpg", alt="")
		.solutions__info
			h2.title.title--big.solutions__title GoodLabs stands for modern health solutions
			.solutions__text.text--med
				p.solutions__text--1 Our experts are constantly studying new practices and approaches of scientists in order to find the optimal modern solution for existing health problems.
				p.solutions__text--2 Science and innovation are basis of GoodLabs product formulations.
			a.solutions__link.text--med(href="") Our products
				img.solutions__link-arrow(src="img/svg/arrow.svg", alt="")
			svg.goodlabs-letter#odLetters(width='312' height='193' viewBox='0 0 312 193' fill='none' xmlns='http://www.w3.org/2000/svg')
				path(d='M72.2207 192.418C58.5133 192.418 46.1767 189.421 35.2108 183.427C24.2449 177.261 15.5921 168.612 9.25247 157.48C3.08416 146.348 0 133.503 0 118.945C0 104.387 3.16987 91.5421 9.50952 80.4098C16.0205 69.2774 24.8446 60.7141 35.9818 54.7198C47.1191 48.5542 59.5414 45.4713 73.2487 45.4713C86.9561 45.4713 99.3784 48.5542 110.516 54.7198C121.653 60.7141 130.391 69.2774 136.731 80.4098C143.242 91.5421 146.497 104.387 146.497 118.945C146.497 133.503 143.156 146.348 136.474 157.48C129.963 168.612 121.053 177.261 109.745 183.427C98.6074 189.421 86.0994 192.418 72.2207 192.418ZM72.2207 161.076C78.7317 161.076 84.8143 159.535 90.4686 156.452C96.2942 153.198 100.92 148.403 104.347 142.066C107.774 135.729 109.488 128.022 109.488 118.945C109.488 105.415 105.889 95.0531 98.6931 87.8599C91.668 80.4954 83.0152 76.8132 72.7347 76.8132C62.4542 76.8132 53.8014 80.4954 46.7764 87.8599C39.9227 95.0531 36.4958 105.415 36.4958 118.945C36.4958 132.475 39.837 142.922 46.5194 150.287C53.3731 157.48 61.9402 161.076 72.2207 161.076Z' fill='#FAF6F0')
				path(d='M163.639 118.431C163.639 104.045 166.466 91.2852 172.12 80.1529C177.946 69.0205 185.828 60.4572 195.766 54.4629C205.704 48.4685 216.755 45.4713 228.92 45.4713C238.173 45.4713 246.997 47.5265 255.393 51.6369C263.788 55.5761 270.471 60.8854 275.44 67.5648V0H311.936V190.106H275.44V169.04C270.985 176.062 264.731 181.714 256.678 185.996C248.625 190.277 239.287 192.418 228.663 192.418C216.669 192.418 205.704 189.336 195.766 183.17C185.828 177.004 177.946 168.355 172.12 157.223C166.466 145.919 163.639 132.989 163.639 118.431ZM275.697 118.945C275.697 110.21 273.983 102.76 270.556 96.5945C267.13 90.2576 262.503 85.4621 256.678 82.2081C250.852 78.7827 244.598 77.0701 237.916 77.0701C231.233 77.0701 225.065 78.6971 219.411 81.9512C213.757 85.2053 209.13 90.0007 205.532 96.3376C202.105 102.503 200.392 109.868 200.392 118.431C200.392 126.994 202.105 134.53 205.532 141.038C209.13 147.375 213.757 152.256 219.411 155.682C225.236 159.107 231.405 160.82 237.916 160.82C244.598 160.82 250.852 159.193 256.678 155.938C262.503 152.513 267.13 147.718 270.556 141.552C273.983 135.215 275.697 127.679 275.697 118.945Z' fill='#FAF6F0')
