section.solutions
	.container.solutions__container
		.solutions__image-wrap
			img.solutions__image(src="img/solutions-image.jpg", alt="")
		.solutions__info
			h2.title.title--big.solutions__title GoodLabs stands for modern health solutions
			.solutions__text.text--med
				p.solutions__text--1 Our experts are constantly studying new practices and approaches of scientists in order to find the optimal modern solution for existing health problems.
				p.solutions__text--2 Science and innovation are basis of GoodLabs product formulations.
			a.solutions__link.text--med(href="") Our products
				img.solutions__link-arrow(src="img/svg/arrow.svg", alt="")
