.fixed-block
	.arrow-top.js-scroll-top
		i.fico.fico-arrowTop
	.cookie-banner.js-cookie-banner
		.cookie-banner__wrap
			p.cookie-banner__text We use cookies to make your experience of our website better. To comply with the E-Privacy Regulations, we need to ask for your consent to set these cookies.
			p.cookie-banner__btn.js-btn-cookie ACCEPT