- var FEEDBACK_ANTISTRESS = LANG.products.antistress.feedback;

include ../../mixins/feedback

+feedback(FEEDBACK_ANTISTRESS.color, 'feedback_immuten', FEEDBACK_ANTISTRESS.text, FEEDBACK_ANTISTRESS.info)