include ../../mixins/about

- var ABOUT = LANG.main.about;
-
	const photos = [
		{
			src: 'about_slider_multi-vitamin_2',
			photo: 'img/review_photo_9.png',
			name: 'Karolinajunior'
		},
		{
			src: 'about_slider_multi-vitamin_3',
			photo: 'img/review_photo_base.png',
			name: 'goodlabs_official'
		},
		{
			src: 'about_slider_multi-vitamin_7',
			photo: 'img/review_photo_3.png',
			name: 'Lucy_25'
		},
		{
			src: 'about_slider_multi-vitamin_4',
			photo: 'img/review_photo_base.png',
			name: 'goodlabs_official'
		},
		{
			src: 'about_slider_multi-vitamin_5',
			photo: 'img/review_photo_base.png',
			name: 'goodlabs_official'
		},
		{
			src: 'about_slider_multi-vitamin_6',
			photo: 'img/review_photo_base.png',
			name: 'goodlabs_official'
		}
	];
section.about-big
	.about-big__top.container
		h2.about-big__title.title.title--med!= ABOUT.title
		.about-big__right
			span.about-big__text.text--med!= ABOUT.text
			a.about-big__link(href="#")
				img(src="img/svg/insta.svg", alt="insta")
	.about-big__slider-wrap
		.about-big__slider.slider-about-big.js-about-slider2
			each item in photos
				+about(item.src, item.photo, item.name)


