- var ADVANTAGES_MULTI = LANG.products.multi.advantages;

section.advantages
	.container
		.advantages__top
			h2.advantages__title.title.title--med!= ADVANTAGES_MULTI.title
			.advantages__photo.advantages__photo--4.advantages__photo--mob
				img.advantages__img(src="img/advantages_multi-vitamin_1.jpg", alt="photo")
			p.advantages__desc.text--med!= ADVANTAGES_MULTI.desc
		.advantages__photos.advantages__photos--multi-vitamin
			.advantages__photo.advantages__photo--4.advantages__photo--desc
				img.advantages__img(src="img/advantages_multi-vitamin_1.jpg", alt="photo")
			.advantages__photo.advantages__photo--2
				img.advantages__img(src="img/advantages_multi-vitamin_2.jpg", alt="photo")
			.advantages__photo.advantages__photo--3
				img.advantages__img(src="img/advantages_multi-vitamin_3.jpg", alt="photo")