- var BANNER_TOP = LANG.banner_top;

.banner-top.banner-top--green.js-banner
	.container
		p.banner-top__text.text--med #{BANNER_TOP}
		img.banner-top__close.js-close-banner(src="img/svg/close.svg", alt="close")