.experts
	padding-top: 110px
	padding-bottom: 21px
	position: relative
	&::before
		content: ''
		display: block
		position: absolute
		top: 157px
		bottom: 0
		left: 0
		right: 50px
		z-index: -1
		pointer-events: none
		border-bottom-right-radius: 100px
		background: #F3EFE8
	&::after
		content: ''
		display: block
		position: absolute
		top: 0
		left: 50%
		transform: translateX(-50%)
		right: 0
		background: url('../img/svg/goodlabs.svg') no-repeat center
		width: 1280px
		height: 192px
		z-index: -1
		background-size: contain
	+r(1440)
	
		&::after
			width: 1170px
			height: 185px
	+r(1300)
		padding-top: 90px
		padding-bottom: 20px
		&::before
			right: 25px
			top: 115px
		&::after
			width: 1050px
			height: 159px
	+r(1140)
		&::after
			width: 940px
	+r(1024)
		padding-top: 130px
		&::before
			right: 20px
		&::after
			width: 90%
		.container
			padding-right: 60px
	+r(768)
		padding-top: 70px
		padding-bottom: 50px
	+r(640)
		padding-top: 50px
		&::before
			border-bottom-right-radius: 50px
		&::after
			width: 655px
			left: 20px
			transform: none
		.container
			padding-right: 40px
	+r(480)
		padding-top: 30px
		padding-bottom: 47px
		&::before
			top: 0
		&::after
			top: -100px
	+r(374)
		padding: 37px 0
	&__top
		padding-bottom: 42px
		margin-bottom: 20px
		border-bottom: 1px solid transparentize(#3D4859, .8)
		+r(640)
			padding-bottom: 18px
	&__bottom
		display: flex
		align-items: center
		+r(768)
			display: block
	&__dots
		+r(1024)
			width: 70%
		+r(768)
			margin-bottom: 30px
			width: 100%
		+r(374)
			margin-bottom: 15px
		.slick-list
			margin: 0 -15px
			+r(640)
				margin: 0 -5px
		.slick-slide
			margin: 0 15px
			+r(1024)
				width: auto !important
			+r(649)
				margin: 0 5px
		.slick-current
			.item-expert
				&__photo
					background: linear-gradient(30deg, rgba(105,82,181,1) 0%, rgba(192,83,148,1) 72%, rgba(192,83,148,1) 100%)
			+r(1024)
				.item-expert
					&__desc
						display: block
			+r(374)
				.item-expert
					&__desc
						display: none

	&__text
		font-family: 'PT Serif', Arial, Helvetica, sans-serif
		font-style: italic
		color: $garkgrey
		margin-left: auto
		max-width: 440px
		width: 100%
		text-align: right
		flex-shrink: 0
		+r(1440)
			margin-right: 15px
		+r(1300)
			max-width: 260px
		+r(1140)
			max-width: 210px
		
		+r(768)
			text-align: left
			max-width: inherit
	.slick-arrow
		background: none
		cursor: pointer
		background: none
		position: absolute
		top: 134px
		padding: 0
		right: 0
		z-index: 100
		svg
			transition: all .3s
		&:hover
			svg
				opacity: 1
		&.prev
			right: 60px
		&.next
			svg
				opacity: 1
		+r(1440)
			top: 94px
		+r(1300)
			top: 84px
		+r(1140)
			top: 61px
		+r(1024)
			top: 7px
		+r(768)
			top: 67px
		+r(640)
			top: 97px
		+r(480)
			display: none !important
.expert
	display: flex !important
	align-items: flex-end
	+r(768)
		display: block !important
		position: relative
	&__wrap-img
		flex-shrink: 0
		max-width: 550px
		height: 550px
		width: 100%
		margin-right: 70px
		border-radius: 50%
		overflow: hidden
		font-size: 0
		+r(1440)
			max-width: 500px
			height: 500px
		+r(1300)
			max-width: 450px
			height: 450px
		+r(1140)
			max-width: 400px
			height: 400px
			margin-right: 40px
		+r(1024)
			max-width: 40%
			height: auto
		+r(890)
			max-width: 40%
			min-width: 280px
			margin-right: 30px
		+r(768)
			margin-right: 0
			margin-bottom: 47px
		+r(640)
			min-width: 300px
			margin-bottom: 22px
		+r(374)
			min-width: 260px
	&__text
		line-height: 140%
		position: relative
		padding-top: 98px
		align-self: center
		margin-top: 50px
		.fico
			position: absolute
			top: 0
			left: 0
			font-size: 32px
			color: $garkgrey
		+r(1440)
			padding-top: 70px
			.fico
				font-size: 30px
		+r(1140)
			padding-top: 40px
			.fico
				font-size: 28px
		+r(1024)
			padding-top: 50px
			margin-top: 30px
		+r(890)
			flex: 1
			font-size: 20px
		+r(768)
			padding-top: 60px
			&::after
				line-height: 100%
				font-size: 100px
		+r(640)
			padding-top: 56px
			line-height: 130%
			&::after
				font-size: 80px
				left: -3px

.item-expert
	cursor: pointer
	&__wrap
		display: flex
		align-items: center
	&__photo
		flex-shrink: 0
		margin-right: 20px
		border-radius: 50%
		overflow: hidden
		padding: 3px
		font-size: 0
		width: 70px
		height: 70px
		transition: all .3s
		img
			border-radius: 50%
		+r(1024)
			margin-right: 0
		+r(640)
			width: 50px
			height: 50px
			padding: 2px
	&__desc
		font-size: 14px
		line-height: 150%
		+r(1024)
			display: none !important
			margin-left: 15px
		+r(640)
			font-size: 12px
	&__name
		color: $garkgrey
		white-space: nowrap
	&__post
		color: #777
		white-space: nowrap