.reviews-main
	padding-top: 153px
	padding-bottom: 91px
	position: relative
	.container
		position: relative
	+r(1300)
		padding-top: 90px
		padding-bottom: 70px
	+r(1140)
		padding: 90px 0
	+r(1024)
		padding: 80px 0
	+r(768)
		padding-top: 70px
		padding-bottom: 100px
	+r(640)
		padding-top: 50px
		padding-bottom: 40px
	+r(480)
		padding-top: 61px
		padding-bottom: 17px
	+r(374)
		padding: 37px 0
	&__top
		margin-bottom: 79px
		display: flex
		align-items: center
		+r(1140)
			margin-bottom: 70px
		+r(768)
			margin-bottom: 50px
			display: block
		+r(480)
			margin-bottom: 25px
	&__title
		margin-right: 32px
		+r(768)
			margin-right: 0
			margin-bottom: 12px
		+r(640)
			span
				font-size: 24px
		+r(480)
			span
				font-size: 18px
		+r(374)
			span
				display: none
	&__wrap
		+r(768)
			display: flex
			align-items: flex-start
		+r(374)
			display: block
	&__text
		max-width: 280px
		width: 100%
		font-size: 12px
		color: $garkgrey
		line-height: 150%
		.bold
			font-weight: 600
			&--line
				text-decoration: underline
	&__slider
		+r(768)
			margin-bottom: 40px
		+r(480)
			margin-bottom: 20px
	&__bottom
		display: flex
		align-items: center
		justify-content: space-between
		position: absolute
		bottom: 0
		left: 0
		right: 0
		transform: translateY(50%)
		+r(1024)
			left: 30px
			right: 30px
		+r(768)
			position: static
			transform: none
	&__btn
		width: auto
		+r(768)
			max-width: 210px
	.slick-slide
		margin: 0 5px
	.slick-list
		+r(640)
			margin-right: -20px
	.slick-dots
		margin-top: 50px
		+r(890)
			margin-top: 60px
		+r(768)
			margin-bottom: 44px
			margin-top: 40px
		+r(374)
			display: none !important
	.slick-arrow
		background: none
		cursor: pointer
		background: none
		position: absolute
		top: -117px
		padding: 0
		right: 0
		z-index: 100
		border: none
		svg
			transition: all .3s
		&:hover
			svg
				opacity: 1
		&.prev
			right: 60px
		+r(1140)
			top: -106px
		+r(768)
			top: -125px
		+r(480)
			top: -101px
			svg
				width: 30px
				height: 25px
			&.prev
				right: 41px
		+r(374)
			top: -101px

.review-main
	padding: 30px 30px 45px 30px
	background: #EEF5EC
	min-height: 335px
	+r(1300)
		padding: 20px
	+r(1140)
		padding: 20px
		min-height: 315px
	+r(768)
		min-height: 290px
	+r(640)
		width: 300px !important
		min-height: 290px
	&__top
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 20px
	&__stars
		+r(1140)
			width: 90px
	&__title
		margin-bottom: 15px
		font-weight: 500
		+r(1024)
			margin-bottom: 9px
	&__desc
		color: $garkgrey
		line-height: 160%
		margin-bottom: 12px
		font-size: 14px

	&__info
		display: flex
		align-items: center
	&__text
		color: #777777
		line-height: 150%
		&:not(:last-of-type)
			margin-right: 14px
			padding-right: 14px
			border-right: 1px solid $garkgrey
		+r(480)
			font-size: 14px