.reviews-main
	padding-top: 127px
	padding-bottom: 115px
	position: relative
	.container
		position: relative
	&::before
		content: ''
		display: block
		position: absolute
		top: 0
		bottom: 0
		left: 50px
		right: 0
		z-index: -1
		pointer-events: none
		border-bottom-left-radius: 100px
		background: #EEF5EC
	+r(1300)
		padding-top: 90px
		padding-bottom: 110px
		&::before
			left: 25px
	+r(1140)
		padding: 90px 0
	+r(1024)
		padding: 80px 0
		&::before
			left: 20px
		.container
			padding-left: 60px
	+r(768)
		padding-top: 70px
		padding-bottom: 100px
	+r(640)
		padding-top: 50px
		padding-bottom: 70px
		&::before
			border-bottom-left-radius: 50px
		.container
			padding-left: 40px
	+r(480)
		padding-top: 37px
		padding-bottom: 67px
	+r(374)
		padding: 37px 0
	&__top
		margin-bottom: 87px
		display: flex
		align-items: center
		+r(1140)
			margin-bottom: 70px
		+r(768)
			margin-bottom: 50px
			display: block
		+r(480)
			margin-bottom: 25px
	&__title
		margin-right: 32px
		+r(768)
			margin-right: 0
			margin-bottom: 12px
		+r(640)
			span
				font-size: 24px
		+r(480)
			span
				font-size: 18px
		+r(374)
			span
				display: none
	&__wrap
		+r(768)
			display: flex
			align-items: flex-start
		+r(374)
			display: block
	&__text
		max-width: 200px
		width: 100%
		font-size: 12px
		color: $garkgrey
		line-height: 150%
		.bold
			font-weight: 600
			&--line
				text-decoration: underline
	&__slider
		+r(768)
			margin-bottom: 40px
		+r(480)
			margin-bottom: 20px
	&__btn
		width: auto
		position: absolute
		bottom: 0
		left: 0
		transform: translateY(50%)
		+r(1024)
			left: 60px
		+r(768)
			position: static
			margin: auto
			transform: none
	&__logo
		position: absolute
		bottom: 0
		right: 0
		transform: translateY(50%)
		&--mob
			display: none
		+r(1024)
			right: 30px
		+r(768)
			position: static
			margin-right: 10px
			transform: none
			&--desc
				display: none
			&--mob
				display: block
		+r(480)
			width: 90px
		+r(374)
			margin-right: 0
			margin-bottom: 5px

	.slick-list
		margin-left: -35px
		+r(1140)
			margin-left: -20px

	.slick-dots
		margin-top: 56px
		+r(890)
			margin-top: 60px
		+r(768)
			margin-top: 0
			position: absolute
			bottom: -130px
			justify-content: center
			left: 50%
			transform: translateX(-50%)
		+r(480)
			bottom: -100px
		+r(374)
			display: none !important
	.slick-arrow
		background: none
		cursor: pointer
		background: none
		position: absolute
		top: -113px
		padding: 0
		right: 0
		z-index: 100
		border: none
		svg
			transition: all .3s
		&:hover
			svg
				opacity: 1
		&.prev
			right: 60px
		+r(1140)
			top: -106px
		+r(768)
			top: -125px
		+r(480)
			top: -101px
			svg
				width: 30px
				height: 25px
			&.prev
				right: 41px
		+r(374)
			top: -128px

.review-main
	padding: 20px 35px
	border-right: 1px solid transparentize($garkgrey, .85)
	min-height: 255px
	+r(1140)
		padding: 20px
	+r(640)
		width: 280px !important
		min-height: auto
	&__top
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 20px
	&__stars
		+r(1140)
			width: 90px
	&__title
		margin-bottom: 15px
		font-weight: 500
		+r(1024)
			margin-bottom: 9px
	&__desc
		color: $garkgrey
		line-height: 160%
		margin-bottom: 12px
	&__info
		display: flex
		align-items: center
	&__text
		color: #777777
		line-height: 150%
		&:not(:last-of-type)
			margin-right: 14px
			padding-right: 14px
			border-right: 1px solid $garkgrey
		+r(480)
			font-size: 14px