.info-block.info-block--orange
	.container
		p.info-block__text.text--small 
			span *
			| These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease.