.popup-success.js-popup#popup-success
	.popup-success__wrap
		.popup-success__close.js-close
			img(src="img/svg/close.svg", alt="close")
		.popup-success__content
			p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet, nobis.
			button.popup-success__btn.btn.btn--orange.js-btn-popup-success Ok