- var CONTACTS_POPUP = LANG.contacts.popup;

.popup-success#popup-success
	h2.popup-success__title.title.title--med!= CONTACTS_POPUP.ttl
	p.popup-success__desc.text--med!= CONTACTS_POPUP.desc
		a(href="mailto:support@glabs-nutrition.com")  support@glabs-nutrition.com