- var EXPERTS = LANG.main.experts;


include ../mixins/expert

-
	const expertPhoto = [
		'feedback_main_1',
		'feedback_main_1',
		'feedback_main_1',
	];

section.experts
	.container
		.experts__top.js-experts-for
			each expert, key in EXPERTS.expertArray
				+expert(expertPhoto[key], expert)
		.experts__bottom
			.experts__dots.js-experts-nav
				.experts__item.item-expert
					.item-expert__wrap
						.item-expert__photo
							img(src="img/expert-small-1.png", alt="Dr. Kenosha Gleaton")
						.item-expert__desc
							p.item-expert__name Dr. Kenosha Gleaton
							p.item-expert__post Medical Director
				.experts__item.item-expert
					.item-expert__wrap
						.item-expert__photo
							img(src="img/expert-small-2.png", alt="Dr. Kenosha Gleaton")
						.item-expert__desc
							p.item-expert__name Dr. Naz Homaifar
							p.item-expert__post Medical Advisor
				.experts__item.item-expert
					.item-expert__wrap
						.item-expert__photo
							img(src="img/expert-small-3.png", alt="Dr. Kenosha Gleaton")
						.item-expert__desc
							p.item-expert__name Dr. Andrew Sun
							p.item-expert__post Medical Advisor
			p.experts__text.text--big!= EXPERTS.desc
