include ../mixins/article

-
	const articleArray = [
		{
			type: '3',
			photo: 'article_1',
			note: 'Male Fertility',
			title: 'Suzie Ehlers on LGBTQ+ Parenthood and the Power of Persistence'
		},
		{
			type: '2',
			photo: 'article_2',
			note: 'Nutrition',
			title: 'Everything You Need to Know About Chemical Pregnancies'
		},
		{
			type: '4',
			photo: 'article_3',
			note: 'Stories',
			title: 'When is The Earliest You Can Take a Pregnancy Test During IVF?'
		},
		{
			type: '3',
			photo: 'article_1',
			note: 'Male Fertility',
			title: 'Suzie Ehlers on LGBTQ+ Parenthood and the Power of Persistence'
		},
		{
			type: '2',
			photo: 'article_2',
			note: 'Nutrition',
			title: 'Everything You Need to Know About Chemical Pregnancies'
		},
		{
			type: '4',
			photo: 'article_3',
			note: 'Stories',
			title: 'When is The Earliest You Can Take a Pregnancy Test During IVF?'
		},
	];

section.knowledge
	.container
		h2.knowledge__title.title.title--med Knowledge
		.knowledge__slider.slider-knowledge.js-knowledge-slider
			each article in articleArray
				+article(article)