- var REVIEWS = LANG.main.reviews;

include ../mixins/review-main

-
	const reviewStars = [
		'img/svg/raiting_trustpilot_full.svg',
		'img/svg/raiting_trustpilot_full.svg',
		'img/svg/raiting_trustpilot_full.svg',
		'img/svg/raiting_trustpilot_full.svg',
		'img/svg/raiting_trustpilot_full.svg',
		'img/svg/raiting_trustpilot_full.svg',
		'img/svg/raiting_trustpilot_full.svg',
		'img/svg/raiting_trustpilot_full.svg',
		'img/svg/raiting_trustpilot_full.svg',
		'img/svg/raiting_trustpilot_full.svg',
		'img/svg/raiting_trustpilot_full.svg',
		'img/svg/raiting_trustpilot_full.svg'
	];

section.reviews-main
	.container
		.reviews-main__top
			h2.reviews-main__title.title.title--med!= REVIEWS.title
			p.reviews-main__text!= REVIEWS.desc
		.reviews-main__slider.slider-review.js-reviews-main-slider
			each review, key in REVIEWS.reviewArray
				+review(review.product, review.text, reviewStars[key], review.name, review.date)
		.reviews-main__bottom
			a.reviews-main__btn.btn-empty(href="https://www.trustpilot.com/review/glabs-nutrition.com" target="_blank")!= REVIEWS.btn
			img.reviews-main__logo(src="img/svg/trustpilot-black.svg", alt="trustpilot")