section.privacy
	.container
		.privacy__wrapper.privacy__wrapper--1
			h2.text-center.title.title--main.privacy__title Make Profit SRL Terms of Service
			h3.title.title--small.privacy__subtitle 1. Terms
			p.color-grey.text--med.privacy__text By accessing the website at 
				a.privacy__link(href="index.html") GoodLabs
				| , you are agreeing to be bound by these terms of service (the "Terms and Conditions"), all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.
			h3.title.title--small.privacy__subtitle 2. Use License
			p.color-grey.text--med.privacy__text a. Permission is granted to temporarily download one copy of the materials (information or software) on Make Profit SRL's website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
			.privacy__list
				p.color-grey.text--med.privacy__text i. modify or copy the materials;
				p.color-grey.text--med.privacy__text ii. use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
				p.color-grey.text--med.privacy__text iii. attempt to decompile or reverse engineer any software contained on Make Profit SRL's website;
				p.color-grey.text--med.privacy__text iv. remove any copyright or other proprietary notations from the materials; or
				p.color-grey.text--med.privacy__text v. transfer the materials to another person or "mirror" the materials on any other server.
			p.color-grey.text--med.privacy__text b. This license shall automatically terminate if you violate any of these restrictions and may be terminated by Make Profit SRL at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
			h3.title.title--small.privacy__subtitle 3. Disclaimer
			.privacy__list
				p.color-grey.text--med.privacy__text a. The materials on Make Profit SRL's website are provided on an 'as is' basis. Make Profit SRL makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.
				p.color-grey.text--med.privacy__text b. Further, Make Profit SRL does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.
			h3.title.title--small.privacy__subtitle 4. Limitations
			p.color-grey.text--med.privacy__text In no event shall Make Profit SRL or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Make Profit SRL's website, even if Make Profit SRL or a Make Profit SRL authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
			h3.title.title--small.privacy__subtitle 5. Accuracy of materials
			p.color-grey.text--med.privacy__text The materials appearing on Make Profit SRL's website could include technical, typographical, or photographic errors. Make Profit SRL does not warrant that any of the materials on its website are accurate, complete or current. Make Profit SRL may make changes to the materials contained on its website at any time without notice. However Make Profit SRL does not make any commitment to update the materials.
			h3.title.title--small.privacy__subtitle 6. Links
			p.color-grey.text--med.privacy__text Make Profit SRL has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Make Profit SRL of the site. Use of any such linked website is at the user's own risk.
			h3.title.title--small.privacy__subtitle 7. Modifications
			p.color-grey.text--med.privacy__text Make Profit SRL may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.
			h3.title.title--small.privacy__subtitle 8. Governing Law
			p.color-grey.text--med.privacy__text These terms and conditions are governed by and construed in accordance with the laws of EU and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.