

section.article-page
	include ../banner-top
	include ../mixins/menu.pug
	+menu("article-3")
	.container
		.article-page__wrapper
				h1.article-page__title.title.title--main Витаминная бомба: почему важно принимать мультивитаминные комплексы
				.article-page__photo
					picture
						source(srcset="img/article_3.webp", type="image/webp")
						img.article-page__image(src="img/article_3.jpg", alt="Витаминная бомба: почему важно принимать мультивитаминные комплексы")
				.article-page__content
					p.article-page__main-text.text--large Клинический диагноз “авитаминоз” в наши дни не очень распространен, но при этом люди продолжают массово покупать витаминные комплексы. Почему это происходит? Так ли необходима нашему организму поддержка извне? И по какому принципу работают мультивитаминные комплексы? Разберемся во всех вопросах подробнее.
					.article-page__wrap.article-page__wrap--simle-text
						h4.article-page__ttl.title.title--small Маркетинговая уловка или необходимость?
						.article-page__desc
							p.article-page__text.text--med В Соединенных Штатах от 40 до 50% мужчин и женщин в возрасте 50 лет и старше регулярно употребляют поливитаминные / минеральные (МВМ) добавки, в результате чего годовой объем продаж этих добавок превышает 11 миллиардов долларов. Конечно же, такой спрос генерирует еще большее предложение и формирует целый рынок, который занимается выпуском новых и новых продуктов.
							p.article-page__text.text--med Существует мнение, что мультивитаминные комплексы плохо усваиваются организмом и не несут для него никакой пользы. Так ли это на самом деле? Выражение справедливо только для тех средств, которые содержат витамины и нутриенты в слишком больших концентрациях, неспособных усваиваться клетками.
							p.article-page__text.text--med Кроме того, ученые акцентируют внимание на некоторых особенностях отдельных витаминов: одни из них жирорастворимые, другие растворимые в воде. Одни — разрушаются под действием прямых солнечных лучей, а другие для активации требуют “партнера”, который усилит их действие. Все эти моменты принципиально важно учитывать при составлении формулы витаминного комплекса.
					.article-page__wrap.article-page__wrap--float-image-right
						img(src="img/acticle_image_1.jpg", alt="Азбука здоровья: как распознать сигналы организма?")
						h4.article-page__ttl.title.title--small Азбука здоровья: как распознать сигналы организма?
						.article-page__desc
							p.article-page__text.text--med Человеческий организм — слаженная система, целостный механизм все элементы которого зависят друг от друга. Многие процессы жизнедеятельности требуют определенного уровня энергии, которую получают в основном из пищи. Небольшие порции энергии дают нам вода и напитки, физические упражнения, полноценный здоровый сон.
							p.article-page__text.text--med Но далеко не всегда у людей получается самостоятельно удовлетворить все потребности своего тела в витаминах и микроэлементах. Как распознать сигналы организма и понять, чего ему не хватает?
					.article-page__line
					.article-page__wrap.article-page__wrap--list
						h4.article-page__ttl.title.title--small Признаки нехватки витаминов в организме человека
						.article-page__big-list.big-list
							.big-list__row
								.big-list__left
									p.big-list__vitamin A
									p.big-list__desc.title При дефиците витамина&nbsp;А:
								ul.big-list__right.list-acticle.text--med
									li.list-acticle__item ломкость волос и ногтей, сухость кожи;
									li.list-acticle__item ухудшение зрения.
							.big-list__row
								.big-list__left
									p.big-list__vitamin B1
									p.big-list__desc.title При дефиците витамина&nbsp;В1 (тиамина):
								ul.big-list__right.list-acticle.text--med
									li.list-acticle__item низкий мышечный тонус;
									li.list-acticle__item сердечная недостаточность.
							.big-list__row
								.big-list__left
									p.big-list__vitamin B5
									p.big-list__desc.title При дефиците витамина&nbsp;В5 (пантотеновой кислоты):
								ul.big-list__right.list-acticle.text--med
									li.list-acticle__item ломкость волос и ногтей, сухость кожи;
									li.list-acticle__item ухудшение зрения.
							.big-list__row
								.big-list__left
									p.big-list__vitamin B7
									p.big-list__desc.title При дефиците витамина&nbsp;В7 (биотина):
								ul.big-list__right.list-acticle.text--med
									li.list-acticle__item повышается уровень сахара в крови;
									li.list-acticle__item ухудшается состояние кожи, волос, ногтей.
							.big-list__row
								.big-list__left
									p.big-list__vitamin B9
									p.big-list__desc.title При дефиците&nbsp;В9 (фолиевой кислоты):
								ul.big-list__right.list-acticle.text--med
									li.list-acticle__item риск инфаркта и инсульта;
									li.list-acticle__item риск атеросклероза и нервных расстройств.
							.big-list__row
								.big-list__left
									p.big-list__vitamin C
									p.big-list__desc.title При дефиците витамина&nbsp;С:
								ul.big-list__right.list-acticle.text--med
									li.list-acticle__item депрессивное настроение, усталость;
									li.list-acticle__item подавление иммунитета, болезненность.
							.big-list__row
								.big-list__left
									p.big-list__vitamin D3
									p.big-list__desc.title При дефиците витамина&nbsp;С:
								ul.big-list__right.list-acticle.text--med
									li.list-acticle__item гормональные сбои, проблемы со щитовидной железой;
									li.list-acticle__item ухудшение зрения, апатия.
							.big-list__row
								.big-list__left
									p.big-list__vitamin E
									p.big-list__desc.title При дефиците витамина&nbsp;Е:
								ul.big-list__right.list-acticle.text--med
									li.list-acticle__item анемия, ломкость капилляров;
									li.list-acticle__item нарушение психомоторных функций.
						p.article-page__text.text--med Самым эффективным способом обнаружения витаминно-минеральных дефицитов по-прежнему считается лабораторная сдача анализов.
					.article-page__line
					.article-page__wrap.article-page__wrap--simle-text
						h4.article-page__ttl.title.title--small Источники витальности
						.article-page__desc
							p.article-page__text.text--med В мире существует несметное количество источников витальности. Так, человеку доступно вкусное и разнообразное питание, чистая питьевая вода, здоровый глубокий сон от 7 часов и умеренная физическая активность. Все это повышает жизненный тонус.
							p.article-page__text.text--med В случае витаминного дефицита нужно обратить пристальное внимание на продукты питания:
						ul.list-acticle.text--med.mbtop.mbbottom
							li.list-acticle__item витамин А: печень, рыбий жир;
							li.list-acticle__item витамин B1: кедровые орехи, овсяная крупа, горох, соя; 
							li.list-acticle__item витамин B2: яйца куриные, орехи, печень;
							li.list-acticle__item витамин B3: фасоль, шампиньоны и другие грибы, горох;
							li.list-acticle__item витамин B6: кедровые орешки, фасоль, гранат, сладкий перец;
							li.list-acticle__item витамин В12: молоко, печень, мясо, рыба, яйца;
							li.list-acticle__item витамин С: шиповник, киви, болгарский перец, цитрусовые фрукты;
							li.list-acticle__item витамин D3: печень, рыба, сливочное масло, яйца;
							li.list-acticle__item железо: печень, яйца, фисташки;
							li.list-acticle__item йод: морепродукты, йодированная соль, треска;
							li.list-acticle__item кальций: молоко, фисташки, горох;
							li.list-acticle__item магний: семечки и орехи;
							li.list-acticle__item цинк: печень, фасоль, устрицы, горох.
						p.article-page__text.text--med Почему же, если все вещества есть в продуктах питания существует так много витаминных добавок?!
					.article-page__wrap.article-page__wrap--float-image-left
						h4.article-page__ttl.title.title--small Современные способы ликвидации витаминных дефицитов
						.article-page__desc
							img(src="img/acticle_image_2.jpg", alt="Современные способы ликвидации витаминных дефицитов")
							p.article-page__text.text--med К сожалению, при внешнем обилии ресурсов человек далеко не всегда имеет возможность восполнить внутренние потребности своего организма. Чистая вода при микробиологическом анализе часто оказывается не такой уж “чистой”. Фермерские овощи и фрукты могут накапливать нитраты и тяжелое железо из грунта. Мясо птицы, домашнего скота, а также рыба часто сохраняют в себе загрязнения либо же подвергаются искусственному вмешательству извне.
							p.article-page__text.text--med Мультивитаминные комплексы — единственный способ получить недостающие полезные вещества, и их нужно обязательно включать в рацион. Прием мультивитаминных средств абсолютно безопасен, но только в том случае, если комплекс содержит в достаточном и необходимом количестве нужные витамины и минералы — не больше и не меньше, чем те, что нужны вам для поддержания здоровья.
							p.article-page__text.text--med Примером сбалансированного по дозировке и составу комплекса можно считать средство GoodLabs Multivitamin.
					.article-page__wrap.article-page__wrap--adv-list
						h4.article-page__ttl.title.title--small Преимущества GoodLabs Multivitamin
						.article-page__desc
							p.article-page__text.text--med GoodLabs Multivitamin — высокоэффективный немецкий комплекс витаминов и минералов в оптимальных для организма концентрациях.
							p.article-page__text.text--med Как GoodLabs Multivitamin помогает вашему организму:
						.article-page__list-adv.pl
							.item-benefit
								h5.item-benefit__title.title 1. Сильный иммунитет
								p.item-benefit__text.text--med Витамины С и D3 и цинк  поддерживают цельность естественного противовоспалительного барьера за счет этого  можно избежать заражения в период сезонного снижения защитных сил организма и всеобщего упадка сил.
							.item-benefit
								h5.item-benefit__title.title 2. Здоровые кости
								p.item-benefit__text.text--med Золотая четверка для костей — витамины В и D, а также природные минералы кальций и магний — играют важную роль в организме, помогая нормальному формированию костной системы, а также работе мышц и кровообращению.
							.item-benefit
								h5.item-benefit__title.title 3. Хорошее пищеварение
								p.item-benefit__text.text--med В состав продукта добавлены гистидин, молибден, витамины группы В, которые обогащают метаболическую систему необходимыми питательными веществами, поддерживают работу желудочно-кишечного тракта и печени, выводят токсины из организма.
							.item-benefit
								h5.item-benefit__title.title 4. Стабильная нервная система
								p.item-benefit__text.text--med Restriction of processing is the marking of stored personal data with the aim of limiting their processing in the future.
					.article-page__line
					.article-page__wrap.article-page__wrap--result
						.article-page__top
							.article-page__left
								h4.article-page__ttl.title.title--small Заключение
								p.article-page__text.text--med Не идите на компромиссы с качеством, выбирайте только лучшее для своего здоровья. Заботьтесь о грамотно построенном режиме дня, достаточном отдыхе, активном времяпрепровождении на свежем воздухе, потреблении сбалансированной пищи, а GoodLabs Multivitamin поможет поддерживать жизненные силы вашего тела на высоком уровне ежедневно.
							.article-page__right.recom-item
								.recom-item__prod
									img(src="img/product_2.png", alt="Multi Vitamin")
								.recom-item__info
									h3.recom-item__title.title Multi Vitamin
									p.recom-item__desc Vitamins & Minerals
									img.recom-item__raiting(src="img/svg/raiting_review_1.svg", alt="raiting")
									.recom-item__bottom
										p.recom-item__price.title €20.99
										a.recom-item__link(href="product-multivitamin.html")
											i.fico.fico-arrowLink
					include share-links

