.share-links
	p.share-links__text Поделиться постом с друзьями
	.share-links__wrap
		.share-links__item
			i.fico.fico-fb
		.share-links__item
			i.fico.fico-tw
		.share-links__item
			i.fico.fico-email
		.share-links__item
			i.fico.fico-share
