- var ARTICLES = LANG.articles;

.share-links
	p.share-links__text!= ARTICLES.share_text
	.share-links__wrap
		.share-links__item
			i.fico.fico-fb
		.share-links__item
			i.fico.fico-tw
		.share-links__item
			i.fico.fico-email
		.share-links__item
			i.fico.fico-share
