mixin article(link, photo, type, note, title)
	a.article(href=link)
		picture
			source(srcset="img/" + photo + ".webp", type="image/webp")
			img(class="article__photo article__photo--" + type, src="img/" + photo + ".jpg" alt="photo")
		p.article__note.text--med!= note
		p.article__title.title!= title