mixin question(question)
	.question
		.question__top.js-btn-accordeon
			h3.question__ttl.title.title--dark!=question.ttl
			.question__plus
		p.question__text.text--med.js-info-accordeon!=question.text