extends templates/layout/layout.pug
block head
	title GoodLabs - About
block content
	include templates/about/promo
	include templates/about/family
	include templates/about/solutions
	include templates/about
	include templates/action