extends templates/layout/layout.pug
block head
	title GoodLabs - Вопрос количества: почему важно соблюдать правильную дозировку при приеме витаминных комплексов
block content
	include templates/articles/article-3
	.container
		.lines
	include templates/knowledge