extends templates/layout/layout.pug
block head
	- var ARTICLES_TITLE_MAIN = LANG.articles.article_1.title_main;
	title!= ARTICLES_TITLE_MAIN
block content
	include templates/articles/article-1
	.container
		.lines
	.article-knowledge--1
		include templates/knowledge