extends templates/layout/layout.pug
block head
	title GoodLabs - Витаминная бомба: почему важно принимать мультивитаминные комплексы
block content
	include templates/articles/article-1
	.container
		.lines
	include templates/knowledge