extends templates/layout/layout.pug
block head
	title GoodLabs - Природный щит: роль бета-глюкана для иммунитета
block content
	include templates/articles/article-4
	.container
		.lines
	include templates/knowledge