extends templates/layout/layout.pug
block head
	title GoodLabs - Гармония здоровья: как витамины влияют на организм
block content
	include templates/articles/article-3
	.container
		.lines
	include templates/knowledge