extends templates/layout/layout.pug
block head
	- var ARTICLES_TITLE_MAIN = LANG.articles.article_3.title_main;
	title!= ARTICLES_TITLE_MAIN
block content
	include templates/articles/article-3
	.container
		.lines
	.article-knowledge--3
		include templates/knowledge