extends templates/layout/layout.pug
block head
	title GoodLabs - Contacts
block content
	include templates/banner-top
	include templates/mixins/menu.pug
	+menu("contacts")
	include templates/contacts/content
	include templates/banner-bottom