extends templates/layout/layout.pug
block head
	title GoodLabs - Home
block content
	include templates/main/promo
	include templates/main/products
	include templates/main/products2
	include templates/main/banner-bottom