extends templates/layout/layout.pug
block head
	title GoodLabs - Home
block content
	include templates/main/promo
	include templates/main/formula
	include templates/main/products
	include templates/main/experts
	include templates/main/reviews
	include templates/about
	//- include templates/action
	.container.lines-index
		.lines
	include templates/knowledge