extends templates/layout/layout.pug
block head
	- var INGRIDIENTS_TITLE_MAIN = LANG.ingredients.title_main;
	title!= INGRIDIENTS_TITLE_MAIN
block content
	include templates/banner-top
	include templates/mixins/menu.pug
	+menu("ingredients")
	include templates/ingredients/ingredients-list