extends templates/layout/layout.pug
block head
	title GoodLabs - Magnesium
block content
	include templates/banner-top
	include templates/mixins/menu.pug
	+menu("magnesium")
	include templates/ingredients/magnesium
	include templates/banner-bottom