extends templates/layout/layout.pug
block head
	title GoodLabs - Privacy Policy
block content
	include templates/mixins/menu.pug
	+menu("privacy")
	include templates/privacy/content
	include templates/banner-bottom