extends templates/layout/layout.pug
block head
	title GoodLabs - Product Multi Vitamin
block content
	include templates/product/multivitamin/banner-top
	include templates/mixins/menu.pug
	+menu("product-multivitamin")
	include templates/product/multivitamin/promo
	include templates/product/multivitamin/ingredients
	include templates/product/multivitamin/advantages
	include templates/product/multivitamin/feedback
	include templates/product/multivitamin/technical-info
	include templates/product/multivitamin/about
	include templates/product/multivitamin/reviews
	include templates/product/multivitamin/faq
	include templates/product/multivitamin/order-popup