extends templates/layout/layout.pug
block head
	title GoodLabs - Product Immunal
block content
	include templates/product/immunal/banner-top
	include templates/mixins/menu.pug
	+menu("product-immunal")
	include templates/product/immunal/promo
	include templates/product/immunal/ingredients
	include templates/product/immunal/advantages
	include templates/product/immunal/feedback
	include templates/product/immunal/technical-info
	include templates/product/immunal/about