extends templates/layout/layout.pug
block head
	title GoodLabs - Витамин B1
block content
	include templates/banner-top
	include templates/mixins/menu.pug
	+menu("vit-b1")
	include templates/ingredients/vit-b1
	include templates/banner-bottom