.solutions {
  padding-top: 190px;
  padding-bottom: 55px;

  @include r(1440) {
    padding: 140px 0 60px;
  }

  @include r(1300) {
    padding: 110px 0 50px;
  }

  @include r(1140) {
    padding: 90px 0 40px;
  }

  @include r(1024) {
    padding: 80px 0 30px;
  }
  @include r(768) {
    padding-bottom: 0;
  }
  @include r(640) {
    padding-top: 50px;
  }

  @include r(480) {
    padding-top: 36px;
  }
  &__photos {
    display: flex;
    align-items: flex-end;
  }
  &__img {
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    flex-shrink: 0;
    &:not(:last-of-type) {
      margin-right: 20px;
    }
    @include r(1440) {
      width: 470px;
    }
    @include r(1300) {
      width: 420px;
    }
    @include r(1140) {
      width: 380px;
    }
    @include r(1024) {
      width: 340px;
    }
    @include r(890) {
      width: 280px;
    }
    @include r(480) {
      width: 247px;
      &:not(:last-of-type) {
        margin-right: 10px;
      }
    }
  }
  &__logo {
    @include r(640) {
      width: 693px;
      flex-shrink: 0;
      max-width: inherit;
    }
  }
  &__bottom {
    display: flex;
    align-items: flex-end;
    margin-bottom: 105px;
    @include r(1140) {
      margin-bottom: 90px;
    }
    @include r(768) {
      display: block;
      margin-bottom: 50px;
    }
  }
  &__left {
    max-width: 510px;
    width: 100%;
    margin-right: 40px;
    @include r(1440) {
      max-width: 470px;
      margin-right: 30px;
    }
    @include r(1300) {
      max-width: 420px;
    }
    @include r(1140) {
      max-width: 380px;
      margin-right: 20px;
    }
    @include r(768) {
      margin-bottom: 26px;
      max-width: 100%;
    }
  }
  &__desc {
    color: #777;
    line-height: 180%;
    width: 70%;
    @include r(1300) {
      width: 85%;
    }
    @include r(640) {
      width: 100%;
    }
    @include r(480) {
      line-height: 160%;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    margin-bottom: 140px;

    @include r(1300) {
      align-items: flex-start;
      margin-bottom: 100px;
    }
    @include r(1024) {
      margin-bottom: 70px;
    }
    @include r(768) {
      flex-direction: column;
    }
  }
  &__info {
    position: relative;
  }
  &__image {
    width: 750px;
    border-bottom-right-radius: 90px;
    object-fit: cover;
    object-position: center;

    &-wrap {
      margin-left: -200px;
      margin-right: 110px;
      flex-shrink: 0;

      @include r(1440) {
        margin-left: -150px;
        margin-right: 100px;
      }

      @include r(1300) {
        margin-left: -130px;
        margin-right: 90px;
      }

      @include r(1140) {
        margin-right: 80px;
      }

      @include r(1024) {
        margin-right: 50px;
      }

      @include r(890) {
        margin-left: -30px;
        margin-right: 30px;
      }

      @include r(768) {
        margin-right: 0px;
        margin-bottom: 25px;
      }

      @include r(640) {
        margin-left: -20px;
      }
    }

    @include r(1440) {
      width: 650px;
    }

    @include r(1300) {
      width: 580px;
    }

    @include r(1140) {
      width: 530px;
    }

    @include r(890) {
      width: 260px;
      height: 300px;
    }

    @include r(768) {
      width: 600px;
      height: 250px;
      border-bottom-right-radius: 60px;
    }

    @include r(480) {
      width: 360px;
      height: 290px;
    }
  }

  &__title {
    margin-bottom: 40px;

    @include r(890) {
      margin-bottom: 22px;
    }

    @include r(480) {
      font-size: 28px;
    }
  }

  &__text {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    margin-bottom: 25px;
    border-bottom: 1px solid $garkgrey;
    color: #777;
    line-height: 180%;

    @include r(890) {
      padding-bottom: 30px;
      margin-bottom: 15px;
    }

    @include r(480) {
      flex-direction: column;
    }

    &--1 {
      width: 290px;
      margin-right: 40px;
      @include r(1440) {
        width: 270px;
        margin-right: 30px;
      }
      @include r(1300) {
        width: 240px;
      }
      @include r(1140) {
        width: 220px;
        margin-right: 20px;
      }
      @include r(768) {
        width: 290px;
      }
      @include r(480) {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    &--2 {
      width: calc(50% - 20px);

      @include r(480) {
        width: 100%;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: $garkgrey;

    &-arrow {
      margin-left: 31px;
      transition: 0.3s;

      @include r(480) {
        margin-left: 20px;
      }
    }

    &:hover {
      .solutions__link-arrow {
        margin-left: 41px;

        @include r(480) {
          margin-left: 30px;
        }
      }
    }
  }
}
