- var INGRIDIENTS_LIST = LANG.ingredients;

include ../mixins/component

-
	const info = [
			{
				src: 'img/svg/ingredient_vit_a.svg',
				target: 'vit-a',
				link: 'vit-a.html?id=vit-a'
			},
			{
				src: 'img/svg/ingredient_vit-b1_ver-2.svg',
				target: 'vit-b1',
				link: 'vit-b1.html?id=vit-b1'
			},
			{
				src: 'img/svg/ingredient_vit-b2_ver-2.svg',
				target: 'vit-b2',
				link: 'vit-b2.html?id=vit-b2'
			},
			{
				src: 'img/svg/ingredient_vit-b3.svg',
				target: 'vit-b3',
				link: 'vit-b3.html?id=vit-b3'
			},
			{
				src: 'img/svg/ingredient_vit-b6.svg',
				target: 'vit-b6',
				link: 'vit-b6.html?id=vit-b6'
			},
			{
				src: 'img/svg/ingredient_vit-b12.svg',
				target: 'vit-b12',
				link: 'vit-b12.html?id=vit-b12'
			},
			{
				src: 'img/svg/ingredient_vit-c.svg',
				target: 'vit-c',
				link: 'vit-c.html?id=vit-c'
			},
			{
				src: 'img/svg/ingredient_vit-d3.svg',
				target: 'vit-d3',
				link: 'vit-d3.html?id=vit-d3'
			},
			{
				src: 'img/svg/ingredient_vit-e.svg',
				target: 'vit-e',
				link: 'vit-e.html?id=vit-e'
			},
			{
				src: 'img/svg/ingredient_biotin.svg',
				target: 'biotin',
				link: 'biotin.html?id=biotin'
			},
			{
				src: 'img/svg/ingredient_folieva.svg',
				target: 'folic',
				link: 'folic.html?id=folic'
			},
			{
				src: 'img/svg/ingredient_pantoten.svg',
				target: 'pantothenic-acid',
				link: 'pantothenic-acid.html?id=antothenic-acid'
			},
			{
				src: 'img/svg/ingredient_mg.svg',
				target: 'magnesium',
				link: 'magnesium.html?id=magnesium'
			},
			{
				src: 'img/svg/ingredient_zhelezo.svg',
				target: 'iron',
				link: 'iron.htm?id=iron'
			},
			{
				src: 'img/svg/ingredient_cink.svg',
				target: 'zinc',
				link: 'zinc.html?id=zinc'
			},
			{
				src: 'img/svg/ingredient_marganets.svg',
				target: 'manganese',
				link: 'manganese.html?id=manganese'
			},
			{
				src: 'img/svg/ingredient_med.svg',
				target: 'copper',
				link: 'copper.html?id=copper'
			},
			{
				src: 'img/svg/ingredient_jod.svg',
				target: 'iodine',
				link: 'iodine.html?id=iodine'
			},
			{
				src: 'img/svg/ingredient_molibden.svg',
				target: 'molybdenum',
				link: 'molybdenum.html?id=molybdenum'
			},
			{
				src: 'img/svg/ingredient_selen.svg',
				target: 'selenium',
				link: 'selenium.html?id=selenium'
			},
			{
				src: 'img/svg/ingredient_inozitol.svg',
				target: 'inositol',
				link: 'inositol.html?id=inositol'
			}
		];

section.ingredients-list
	.container
		h1.ingredients-list__title.title.title!= INGRIDIENTS_LIST.title_main
		.ingredients-list__wrapper
			each component, key in INGRIDIENTS_LIST.componentArray
				+component(info[key].src, component.title, component.text, info[key].target, info[key].link)