include ../mixins/component

-
	const componentArray = [
		{
			src: 'img/svg/ingredient_vit_a.svg',
			title: 'Витамин А',
			text: 'Это жирорастворимый витамин, который важен для нормального зрения, поддержки иммунной и репродуктивной систем.',
			target: 'vit-a',
			link: 'vit-a.html'
		},
		{
			src: 'img/svg/ingredient_vit-b1_ver-2.svg',
			title: 'Витамин B1',
			text: 'Помогает превращать пищу в необходимую энергию, играет решающую роль в энергетическом обмене и, следовательно, в росте, развитии и функционировании клеток.',
			target: 'vit-b1',
			link: 'vit-b1.html'
		},
		{
			src: 'img/svg/ingredient_vit-b2_ver-2.svg',
			title: 'Витамин B2',
			text: 'Помогает организму расщеплять жиры и углеводы, а также обеспечивает обновление кожи.',
			target: 'vit-b2',
			link: 'vit-b2.html'
		},
		{
			src: 'img/svg/ingredient_vit-b3.svg',
			title: 'Витамин B3',
			text: 'Способствует функционированию пищеварительной, нервной систем и кожи, играет важную роль в передаче клеточных сигналов, создании ДНК, а также действует как антиоксидант.',
			target: 'vit-b3',
			link: 'vit-b3.html'
		},
		{
			src: 'img/svg/ingredient_vit-b6.svg',
			title: 'Витамин B6',
			text: 'Выполняет широкий спектр функций в организме и чрезвычайно универсален, участвует в развитии мозга плода во время беременности, а также в иммунной функции.',
			target: 'vit-b6',
			link: 'vit-b6.html'
		},
		{
			src: 'img/svg/ingredient_vit-b12.svg',
			title: 'Витамин B12',
			text: 'Помогает поддерживать здоровье нервных клеток и клеток крови, а также способствует выработке ДНК , генетического материала всех клеток.',
			target: 'vit-b12',
			link: 'vit-b12.html'
		},
		{
			src: 'img/svg/ingredient_vit-c.svg',
			title: 'Витамин C',
			text: 'Действует как антиоксидант, помогая защитить клетки от повреждений, вызванных свободными радикалами.',
			target: 'vit-c',
			link: 'vit-c.html'
		},
		{
			src: 'img/svg/ingredient_vit-d3.svg',
			title: 'Витамин D3',
			text: 'Помогает организму усваивать кальций, способствует мышечному тонусу, повышает иммунитет, необходим для функционирования щитовидной железы и нормальной свертываемости крови.',
			target: 'vit-d3',
			link: 'vit-d3.html'
		},
		{
			src: 'img/svg/ingredient_vit-e.svg',
			title: 'Витамин E',
			text: 'Этот витамин ценится в первую очередь из-за его антиоксидантной способности, защиты клеток и нейтрализации свободных радикалов.',
			target: 'vit-e',
			link: 'vit-e.html'
		},
		{
			src: 'img/svg/ingredient_biotin.svg',
			title: 'Биотин',
			text: 'Способствует хорошему здоровью кожи и помогает регулировать уровень плохого холестерина и сахара в крови.',
			target: 'biotin',
			link: 'biotin.html'
		},
		{
			src: 'img/svg/ingredient_folieva.svg',
			title: 'Фолиева кислота',
			text: 'Необходимое вещество для производства ДНК и другого генетического материала, а также для правильной работы иммунитета, сердца и сосудов, синтеза аминокислот',
			target: 'folic',
			link: 'folic.html'
		},
		{
			src: 'img/svg/ingredient_pantoten.svg',
			title: 'Пантотеновая кислота',
			text: 'Известна также, как витамин B5, который необходим для активизации метаболизма, поскольку участвует в высвобождении энергии из основных питательных веществ, а также других витаминов.',
			target: 'pantothenic-acid',
			link: 'pantothenic-acid.html'
		},
		{
			src: 'img/svg/ingredient_mg.svg',
			title: 'Магний',
			text: 'Важное вещество для многих процессов в организме, в том числе для регулирования функции мышц и нервов, уровня сахара в крови и артериального давления.',
			target: 'magnesium',
			link: 'magnesium.html'
		},
		{
			src: 'img/svg/ingredient_zhelezo.svg',
			title: 'Железо',
			text: 'Необходимый элемент для обменных процессов - участвует в разрушении и утилизации токсинов, холестериновом обмене, превращению калорий в энергию. Оно также помогает иммунной системе организма справляться с агрессорами.',
			target: 'iron',
			link: 'iron.html'
		},
		{
			src: 'img/svg/ingredient_cink.svg',
			title: 'Цинк',
			text: 'Питательное вещество, необходимое людям для хорошей работы иммунной системы, помогает бороться с бактериями и вирусами.',
			target: 'zinc',
			link: 'zinc.html'
		},
		{
			src: 'img/svg/ingredient_marganets.svg',
			title: 'Марганець',
			text: 'Этот незаменимый микроэлемент помогает организму усваивать аминокислоты, углеводы и жиры.',
			target: 'manganese',
			link: 'manganese.html'
		},
		{
			src: 'img/svg/ingredient_med.svg',
			title: 'Медь',
			text: 'Минерал, который необходим для выполнения многих важных функций, включая производство энергии, соединительных тканей и кровеносных сосудов.',
			target: 'copper',
			link: 'copper.html'
		},
		{
			src: 'img/svg/ingredient_jod.svg',
			title: 'Йод',
			text: 'Организм нуждается в йоде для выработки гормонов щитовидной железы. Эти гормоны контролируют обмен веществ в организме и многие другие важные функции.',
			target: 'iodine',
			link: 'iodine.html'
		},
		{
			src: 'img/svg/ingredient_molibden.svg',
			title: 'Молибден',
			text: 'Организм использует молибден для обработки белков и генетического материала. Он также помогает расщеплять попадающие в организм лекарства и токсичные вещества.',
			target: 'molybdenum',
			link: 'molybdenum.html'
		},
		{
			src: 'img/svg/ingredient_selen.svg',
			title: 'Селен',
			text: 'Основная его способность защищать организм от вредных окислителей, предотвращая повреждения и инфекции. Текущие исследования показывают, что селен является важным элементом антиоксидантной защиты.',
			target: 'selenium',
			link: 'selenium.html'
		},
		{
			src: 'img/svg/ingredient_inozitol.svg',
			title: 'Инозитол',
			text: 'Инозитол часто называют витамином B8, но это тип сахара, который влияет на реакцию инсулина и несколько гормонов, связанных с настроением и познанием.',
			target: 'inositol',
			link: 'inositol.html'
		}
	];

section.ingredients-list
	.container
		h1.ingredients-list__title.title.title Ингредиенты
		.ingredients-list__wrapper
			each component in componentArray
				+component(component.src, component.title, component.text, component.target, component.link)