section.component-detal
	.container
		a.component-detal__link(href="ingredients.html")
			i.fico.fico-arrowLink
			span.text--small Назад на Ингредиенты
		.component-detal__wrapper
			include component-panel