include ../mixins/technical-table

-
	const componentInfo = {
		title: 'Источники (на 100 грамм):',
		list: [
			{
				text1: 'Кунжут',
				text2: '540 мг'
			},
			{
				text1: 'Отруби пшеничные',
				text2: '448 мг'
			},
			{
				text1: 'Семена подсолнечника (семечки)',
				text2: '317 мг'
			},
			{
				text1: 'Кешью',
				text2: '270 мг'
			},
			{
				text1: 'Гречиха (зерно)',
				text2: '258 мг'
			},
			{
				text1: 'Кедровый орех',
				text2: '251 мг'
			},
			{
				text1: 'Мука гречневая',
				text2: '251 мг'
			},
			{
				text1: 'Отруби овсяные',
				text2: '235 мг'
			},
			{
				text1: 'Миндаль',
				text2: '234 мг'
			},
			{
				text1: 'Соя (зерно)',
				text2: '226 мг'
			},
			{
				text1: 'Крупа гречневая (ядрица)',
				text2: '200 мг'
			},
			{
				text1: 'Арахис',
				text2: '182 мг'
			}
		]
	};

section.component-detal.bg
	.container
		a.component-detal__link(href="ingredients.html")
			i.fico.fico-arrowLink
			span Назад на Ингредиенты
		.component-detal__wrapper
			include component-panel
			.component-detal__left
				.component-detal__wrap-title
					h1.component-detal__title.title.title--big Витамин А
					img.component-detal__image.vit-a(src="img/svg/ingredient_vit_a.svg", alt="Витамин А")
				.component-detal__wrap
					h3.component-detal__ttl.title.title--very-small Свойства
					p.component-detal__text.text--med Витамин А - это жирорастворимый витамин, который важен для нормального зрения, поддержки иммунной системы и репродукции. Витамин А также помогает сердцу, легким, почкам и другим органам работать должным образом. Он стимулирует производство и активность белых кровяных телец, принимает участие в ремоделировании костей, помогает поддерживать здоровье эндотелиальных клеток (выстилающих внутренние поверхности тела) и регулирует рост и деление клеток, что необходимо для воспроизводства.
				.component-detal__wrap
					h3.component-detal__ttl.title.title--very-small Детальнее
					p.component-detal__text.text--med Витамин A - это название группы жирорастворимых ретиноидов, включая ретинол, ретиналь и ретиноловые эфиры [1-3]. Витамин А участвует в иммунной функции, зрении, размножении и клеточной коммуникации [1, 4,5]. Витамин А имеет решающее значение для зрения как важный компонент родопсина, белка, поглощающего свет в рецепторах сетчатки, и потому, что он поддерживает нормальную дифференциацию и функционирование конъюнктивальных мембран и роговицы [2-4]. Витамин А также поддерживает рост и дифференциацию клеток, играя важную роль в нормальном формировании и поддержании работы сердца, легких, почек и других органов [2].
				+technical-table(componentInfo)